/* paleta de color (temporal): https://colorhunt.co/palette/f6f1f1afd3e219a7ce146c94 */

/* RESETEO DE ESTILOS DEL NAVEGADOR */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================================================== */

/* BODY ===================================================== */

body {
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c0ccc2;
}

/* BODY HEADER ===================================================== */

.body-header {
  /* posicionamiento */
  position: absolute;
  height: 150px;

  /* tamaño */
  width: 100%;

  /* estilo */
  background-image: linear-gradient(to right, #287333, #62c476);
  color: #fafcfb;
  display: flex;
  justify-content: center;
}

.body-header__contents {
  position: relative;

  left: 5vw;

  width: 100%;
  height: 100%;
  /* width:90vw; */
  /* height:60%; */
  display: flex;
  flex-direction: row;
}

.body-header__title-box {
  position: relative;
  height: 60%;

  /* posicionamiento */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* tamaño */
  width: 30%;
}

.body-header__fish-box {
  width: 70%;
  overflow: hidden;
}

.body-header__fish-logo {
  width: 500px;
  position: relative;
  bottom: 35px;
  left: 20px;
}

/* BOTONES ===================================================== */
.chat__button {
  background-color: #fafcfb;
  border: none;
  border-radius: 5px; 

}

.chat__button:hover {
  background-color: #ebf0ed;
}

.chat__button:active {
  background-color: #dce4df;
}

.chat__friend-photo {
  overflow: hidden;
  border-radius: 50%;
  height: 30px;
  margin: 10px;
  background-color: #ebf0ed;
}


/* CHAT ===================================================== */
.chats {
  /* posicionamiento */
  position: relative;
  top: 90px;

  /* centrado */
  margin-left: auto;
  margin-right: auto;

  /* tamaño */
  width: 90vw;
  height: 80vh;

  /* posicion contentido */
  display: flex;

  background-color: #fafcfb;

  border-radius: 8px;
}

/* AMIGOS ===================================================== */

.friends {
  /* posicionamiento */
  width: 30%;

  /* estilo */
  font-weight: bold;
  border-right: 1px solid #ced8d0;

  /* posicion contenido */
  overflow: auto;

  
  
}

.friends__header {
  /* tamaño */
  height: 50px;

  
  display: flex;
  align-items: center;

  padding-left: 25px;
}

.friends__body{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.friends__friend-div {
  height: 70px;
  width:100%;

  /* estilo */
  font-weight: bold;
  border-top: 1px solid #ced8d0;
  border-bottom: none;

  /* centrar los elementos verticalmente */
  display: flex;
  flex-direction:row; 
  justify-content: center; 
  align-items:center;
  
 
}

.friends__friend-button {
  width: 90%;
  height:90%;
  display: flex;
  justify-content: left;
  align-items: center;
  

  font-weight: bold;
}

.friends__friend-photo {
  margin

}

.friends__friend-name {

}



/* Solución para que los bordes no aparezcan como dobles */
.friends__friend-div:last-child {
  border-bottom: 1px solid #ced8d0;
}

/* CONVERSACION ===================================================== */

.conversation {
  position: relative;
  width: 70%;
  overflow: hidden;
  border-bottom-right-radius: 10px;
}

.conversation__header {
  height: 50px;

  display: flex;
  align-items: center;
}





.conversation__friend-name {
  font-weight: bold;
}


/* - VENTANA CONVERSACION ===================================================== */

.conversation__chat {
  padding: 30px;
  overflow: auto;
  height: 100%;
  background-image: linear-gradient(to bottom right, #ebf0ed, #9aedb1);
}

.conversation__message-box {
  margin-bottom:3px;
}

.conversation__message-box--mine {
  display: flex;
  flex-direction: row-reverse;
}

.conversation__message-box--friend {
  display: flex;
}

.conversation__message-span {
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
}

.conversation__message-span--mine {
  background-color: #fafcfb;
}

.conversation__message-span--friend {
  background-color: #9aedb1;
}


/* - CONVERSACION INPUT ===================================================== */

.conversation__input {
  /* posicionamiento */
  position: absolute;
  left: 0;
  bottom: 0;

  /* tamaño */
  width: 100%;
  height: 50px;

  /* estilo */
  background-color: #fafcfb;

  /* contenido */
  display: flex;
}

.conversation__textbox-box {
  width: 87%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.conversation__submit-button-box {
  width: 13%;
  display: flex;
  align-items: center;
}

.conversation__textbox {
  height: 100%;
  width: 90%;
  border: none;
  background-color: #fafcfb;
}

.conversation__textbox:focus {
  outline: none;
}

.conversation__submit-button {
  height: 85%;
  width: 90%;
 
  
}



/* FOOTER ===================================================== */

footer {
  /* posicionamiento */
  position: relative;
  top: 100px;

  /* centrado */
  margin-left: auto;
  margin-right: auto;

  /* estilo */
  background-color: magenta;
  text-align: center;
}
